
  <nav>
    <div class="nav-wrapper cyan accent-4">
      <a href="#!" class="brand-logo"><i class="fas fa-tasks"></i></a>
      <ul class="right hide-on-med-and-down">
        <li><a routerLink ="/tasks"><i class="material-icons">view_module</i></a></li>
        <li><a href="collapsible.html"><i class="material-icons">refresh</i></a></li>
        <li><a href="mobile.html"><i class="material-icons">more_vert</i></a></li>
      </ul>
    </div>
  </nav><br><br><br><br>
  
  <div class="container">
    <router-outlet></router-outlet>
  </div>